<!DOCTYPE html>
<html>
  <head>
    <title>Smooth</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
   
    
  
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css2?family=Montserrat&display=swap' %> 
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
      <%= render  "navbar/navbar" %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>
